@font-face {
    font-family: Montserrat;
    src: url(/assets/font/Montserrat-VariableFont_wght.ttf);
}

footer{
    width: 1440px;
    height: 600px;

    background: #252B42;

    flex: none;
    order: 6;
    align-self: stretch;
    flex-grow: 0;
}
footer hr{
    width: 1057px;
    height: 0px;
    margin-top: 50px;
    border: 1px solid #364067;
}
footer .contact{
    display: flex;
    align-items: flex-start;
    padding: 40px 0px;
}
footer .contact .container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    width: 1440px;
    height: 58px;

    flex: none;
    order: 0;
    flex-grow: 0;
}
footer .contact .container h3{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;

    letter-spacing: 0.1px;

    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    margin-left: 200px;
    gap: 10px;

    width: 236px;
    height: 58px;


    flex: none;
    order: 0;
    flex-grow: 0;
}
footer .contact .container .socials{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    margin-left: 645px;
    margin-top: 30px;

    gap: 20px;

    width: 156px;
    height: 24px;


    flex: none;
    order: 0;
    flex-grow: 0;
}
footer .features{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 70px 0px;

}
footer .features .info{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    margin-left: 200px;
    gap: 65px;

    width: auto;
    height: 170px;

    flex: none;
    order: 0;
    flex-grow: 0;
}
footer .features .info .columns{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: auto;
    height: 170px;

}
footer .features .info h5{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 20px;

    letter-spacing: 0.1px;

    color: #FFFFFF;

}
footer .features .info .columns a{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    margin-bottom: 10px;
    transition: 0.5s color ease-in-out;
    letter-spacing: 0.2px;
    color: #BDBDBD;
}
footer .features .info .columns a:hover{
    color: #FFFFFF;
}
footer .features .info .support{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
}
footer .features .info .support .email-message{
    background: #F9F9F9;
    border: 1px solid #E6E6E6;
    border-radius: 5px 0px 0px 5px;
    width: 200px;
    height: 58px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;

    letter-spacing: 0.2px;

    display: flex
}
footer .features .info .support .send-message{
    background: #FFA62B;
    border: 1px solid #E6E6E6;
    border-radius: 0px 5px 5px 0px;
    width: 120px;
    height: 62px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;

    text-align: center;
    letter-spacing: 0.2px;

    color: #FFFFFF;
}
footer .author{
    height: 74px;
    background: #16697A;
    padding-left: 195px;
}  
footer .author h6{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    padding-top: 25px;
    letter-spacing: 0.2px;

    color: #FFFFFF;
} 